html {
  font-size: 16px;
}

body {
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
}

.site-header {
  font-size: 1.5rem;
  padding: 0 5%;
  text-align: center;
}

.site-header h1 {
  font-size: 2em;
  font-family: 'Rock Salt', cursive;
  color: white;
  text-align: right;
  margin-top: 50px;
  margin-bottom: 30px;
}

.wrapper {
  text-align: center;
  width: 50%;
  max-width: 960px;
  background: rgba(255, 240, 218, 0.671);
  font-size: 1rem; 
  margin-left: auto;
  margin-right: 5%;
  height: 500px;
  border-radius: 20px;
}

#instruction{
  font-size: 2em;
  text-align: center;
  margin: auto;
  padding-top: 75px;
  font-family: 'Gloria Hallelujah', cursive;
}

#start {
  font-size: 3.8em;
  font-family: 'Cute Font', cursive;
  margin-top: 30px;
  border: 8px outset rgba(255, 255, 255, 0.445);
  border-radius: 10px;
}

#timeRemaining {
  background: rgb(255, 255, 255);
  font-size: 1.8em;
  margin-top: 30px;
  font-family: 'Cute Font', cursive;
}

#questionblock {
  font-size: 2em;
  text-align: justify;
  margin: 15px 20px;
  padding: 15px;
  background: gray;
  color: white;
  font-family: 'Cute Font', cursive;
}

#answerblock {
  text-align: center;
  margin: auto;
}

.answerchoice {
	width: 50%;
  font-size: 2em;
	color: black;
  border: 3px dotted rgba(85, 84, 84, 0.418);
  margin: 40px auto;
  background: white;
  font-family: 'Cute Font', cursive;
}

img {
  height: 200px;
  border: 3px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  margin-top: 30px;
}

.another-page {
  display: none;
}

p {
  font-size: 2em;
  text-align: center;
  margin: 20px 40px 10px 40px;
  font-family: 'Gloria Hallelujah', cursive;
}

#reset {
  font-size: 3.8em;
  font-family: 'Cute Font', cursive;
  margin-top: 40px;
  border: 8px outset rgba(255, 255, 255, 0.445);
  border-radius: 10px;
}

@media (max-width: 768px) {
  html {
    font-size: 10px;
  }
  img {
    height: 100px;
    border: 2px solid #ddd;
    border-radius: 3px;
    padding: 4px;
    margin-top: 5px;
  }
  .answerchoice {
    width: 70%;
    font-size: 2em;
    margin: 20px auto;
  }
  .wrapper {
    width: 50%;
    max-width: 768px;
    height: 290px;
  }
  p {
    font-size: 1.5em;
    text-align: center;
    margin: 10px 40px 5px 40px;
    font-family: 'Gloria Hallelujah', cursive;
  }
  #reset {
    font-size: 3em;
    margin-top: 20px;
    border: 8px outset rgba(255, 255, 255, 0.445);
    border-radius: 10px;
  }
}

@media (max-width: 640px) {
  html {
    font-size: 8px;
  }
  body {
    background: black;
  }
  .site-header h1 {
    text-align: center;
  }
  img {
    height: 100px;
    border: 2px solid #ddd;
    border-radius: 3px;
    padding: 4px;
    margin-top: 5px;
  }
  .answerchoice {
    width: 70%;
    font-size: 2em;
    margin: 20px auto;
  }
  .wrapper {
    width: 90%;
    max-width: 768px;
    height: 300px;
  }
  p {
    font-size: 1.5em;
    text-align: center;
    margin: 10px 40px 5px 40px;
    font-family: 'Gloria Hallelujah', cursive;
  }
  #reset {
    font-size: 3em;
    margin-top: 20px;
    border: 8px outset rgba(255, 255, 255, 0.445);
    border-radius: 10px;
  }
}